<div class="data-management-container">
    <button type="button" class="save-data-button" (click)="exportCsvFile()">
        <img src="assets/export-csv.png" alt="Export CSV" width="40" height="40"/>
    </button>
    <div class="load-data-container">
        <label for="file-input">
            <img src="assets/import-csv.png" alt="Import CSV" width="40" height="40" />
        </label>
        
        <input id="file-input" type="file" (change)="importCsvFile($event)" accept=".csv" style="display: none;" />
    </div>
</div>