<app-card title="Primeiro Componente" color="red">
    <app-first-component></app-first-component>
</app-card>
<app-card title="Aprofundando o Conhecimento em Templates" color="blue">
    <app-second-component></app-second-component>
    <app-data-management></app-data-management>
    <app-bind></app-bind>
</app-card>
<app-card title="Pipes" color="yellow">
    <app-custom-pipe></app-custom-pipe>
</app-card>
<app-card title="Two Way Data Binding" color="green">
    <app-two-way-binding></app-two-way-data-binding>
</app-card>
<app-card title="Renderizando listas" color="green">
    <app-render-list></app-render-list>
</app-card>
<app-card title="Componentes Personalizados (INPUT)" color="purple">
    <app-custom-component name="Nakamura" surname="dos Alves"></app-custom-component>
    <app-custom-component name="Ana" surname="dos Santos"></app-custom-component>
</app-card>
<app-card title="Compartilhando Dados entre componentes" color="yellow">
    <app-ancestor-component></app-ancestor-component>
</app-card>
<app-card title="Serviços" color="green">
    <app-services-a></app-services-a>
    <app-services-b></app-services-b>
</app-card>
<app-card title="Ciclos de Vida" color="green">
    <app-parent-event-tracker></app-parent-event-tracker>
</app-card>

